body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
}

* {
  padding: 0;
}

#hero {
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.7)), url(../static/blur-bokeh-dark-376533.jpg); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;  
  height: 100%; 
  width: 100vw; 
  color: white; 
  padding: 0; 
  margin: 0; 
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

#nav div{
  font-family: grange, sans-serif;
  font-weight: 600;
  font-size: 1.75vw;
}

h1,h2,h3 {
  font-family: bureau-grot, sans-serif;
}

#nav a {
  color: #ffffef;
  text-decoration: none;
}

#nav .active {
  /*text-decoration: underline;*/
  color: #a79545;
}

.scroll {
  transform: translateY(26vh);
  transition: .8s;
}

.nav-drop-options :hover {
  background-color: rgba(34, 20, 49, 0.9);
}

.nav-drop-links, .nav-drop-options a {
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-weight: 400;
  color: #ffffef;
  text-decoration: none !important;
  font-size: .8rem;
}

.gone {
  visibility: hidden;
}

.footer a{
  color: #ffffee;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-between;
}

p, li {
  font-family: grange, sans-serif;
  font-weight: 400;
}

.timeRangeSelector {
  width: 15%; 
  height: 100%; 
  cursor: pointer;
}

.timeRangeSelector p {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: .9rem; 
  font-weight: 700; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.rangeSelected {
  background-color: white; 
  color: rgb(50,0,50);
}

.rangeSelected :hover {
  background-color: rgba(50,0,50,0.5);
}

.rangeUnselected :hover {
  background-color: rgba(255,255,255,0.5);
  color: black;
}

.full-dashboard {
  width: 90vw; 
  height: auto;
  margin-bottom: 8vh;
  margin-top: 8vh;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto; 
  grid-template-areas:  "dash" "ranges";
}

.dashboard-charts {
  grid-area: dash; 
  position: relative; 
  width: 90vw; 
  height: 70vh; 
  margin: 0;
  padding: 2.5% 2.5% 4% 2.5%; 
  background-color: rgba(30, 30, 30, 1); 
  z-index: 3; 
  display: grid; 
  grid-template-columns: 30% 60% 10%; 
  grid-template-areas: "other-charts time-chart other-stats";
  grid-gap: .1rem; 
  box-sizing: border-box;
}

.range-selector-group {
  grid-area: ranges; 
  position: relative; 
  width: 90vw; 
  height: 8vh; 
  margin: 0; 
  background-color: rgba(50, 0, 50, 1); 
  z-index: 3; 
  display: flex; 
  justify-content: center;
}

.timeChart {
  grid-area: time-chart;
  box-sizing: border-box;
  padding-top: 1rem;
}

.otherCharts {
  grid-area: other-charts;
  position: relative; 
  height: 100%; 
  width: 100%; 
  display: grid; 
  grid-template-rows: 1fr 1fr; 
  grid-template-areas: "doughnut" "bar";
  grid-gap: .5rem; 
  background-color: rgba(30, 30, 30, 1); 
  padding: 0 2%; 
  box-sizing: border-box;
}

.otherStats {
  grid-area: other-stats;
  height: 100%; 
  width: 100%; 
  display: grid; 
  grid-template-rows: .75fr 1fr 1fr .75fr; 
  grid-template-areas: " . " "sales" "goal" " . ";
  grid-gap: .4rem;
}

.barChart {
  grid-area: bar;
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(30, 30, 30, 1);
}

.doughnutChart {
  grid-area: doughnut;
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(30, 30, 30, 1);
}

.sales-stat {
  grid-area: sales;
}

.goal-stat {
  grid-area: goal;
}

.stats {
  height: 100%; 
  width: 100%; 
  display: flex; 
  flex-direction: column;
}

.stats h2 {
  margin: auto 0 10% 0; 
  font-size: 1.5vw;
}

.stats h3 {
  margin: 10% 0 auto 0; 
  font-size: 2vw;
}

.goal-chart{
  grid-area: goal-chart;
  width: 90%; 
  position: relative;
  left: 5%;
  display: none;
}

@media screen and (max-width: 800px) {
  #nav div{
    font-size: .6rem;
  }
  
  .dashboard-charts {
    height: 140vh; 
    width: 90vw;
    grid-template-columns: 100vw;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas: "time-chart" "other-charts" "other-stats";
  }

  .timeChart {
    border-bottom: .1rem solid white;
    box-sizing: border-box;
    padding-bottom: .5rem;
    position: absolute;
    width: 85vw;
    height: 100%;
  }

  .otherCharts {
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "bar doughnut";
    padding: 1.5rem 0;
    border-bottom: .1rem solid white;
    position: absolute;
    width: 85vw;
    height: 100%;
  }

  .otherStats {
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-areas: "sales goal-chart goal";
    position: absolute;
    width: 85vw;
    height: 100%;
  }

  .stats h2 {
    font-size: .75rem;
  }

  .stats h3 {
    font-size: 1rem;
  }

  .goal-chart {
    display: block;
  }

  .timeRangeSelector {
    width: 25%; 
    height: 100%; 
    cursor: pointer;
  }
}
